$head-font: 'sigmar One', cursive;
$p-font: 'Modak', cursive;
$alt-font: 'Coustard', serif;

$head-size: 3.7em;
$p-size: 1.1em;


* {
    margin: 0;
    padding: 0;
    font-family: "Opens Sans", sans-serif;
    font-size: $p-font;
    box-sizing: border-box;
}

.jumbotron {
    height: 40vh;
    background-color: #0c0c0c;
    position: relative;

    h1 {
        padding: 50px 0 50px 0;
        font-family: $head-font;
        font-size: $head-size;
        letter-spacing: 5px;
        color: #32cd32;
        text-shadow: 2px 2px white;
        .num {
            font-family: $alt-font;
            font-size: $p-size;
            margin: -15px 0 0 520px;
            display: block;
            color: purple;
            transform: rotate(-40deg);
            position: absolute;
            text-shadow: 2px 2px white;
        }
    }

    p {
        color: white;
        font-size: $p-size;
        letter-spacing: 2px;
        padding: 50px 0 0 0;
    }
}

.container {
    display: flex;
    flex-direction: column;
    height: 473px;
}


.card {
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: $p-size;
}